<div class="container-fluid">
  <div class="jumbotron text-center">
      <h1>Fight Club</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3 text-center" id="fight">
    <button type="button" class="btn btn-danger">Fight</button>
  </div>
</div>
<div class="row justify-content-between" id="HP">
    <div class="col-4 text-center">
      <strong>Health Points</strong>(Player One):    
    </div>
    <div class="col-4 text-center">
      <strong>Current Score:      </strong>    
    </div>
    <div class="col-4 text-center">
      <strong>Health Points</strong>(Boss):
    </div>
  </div>
<div class="row" id="arena">
  <div class="col-md-1">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-outline-danger btn-sm">Attack</button>
      <button type="button" class="btn btn-outline-success btn-sm">Defend</button>
      <button type="button" class="btn btn-outline-info btn-sm">Special</button>
    </div>
  </div>
  <div class="col-md-2">
    {{name}}
    <img class = "character-image" src="{{image}}">
  </div>
</div>
    

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" crossorigin="anonymous"></script>

