<div class="container-fluid">
  <div class="jumbotron text-center">
      <h1>Fight Club</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8 text-center" id="players">
    <h3>Choose your player</h3>
  </div>
  <div class="dropdown">
    <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Player Selection
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {{#each char}}
        <a class="dropdown-item" href='fight{{id}}'>{{name}}</a>
      {{/each}}
    </div>
  </div>
</div>
<<<<<<< Updated upstream
 
=======
<div class="row">
  <div class="col-md-3 text-center" id="fight">
    <button type="button" class="btn btn-danger">Fight</button>
  </div>
</div>
<div class="row justify-content-between" id="HP">
    <div class="col-4 text-center">
      <strong>Health Points</strong>(Player One):    
    </div>
    <div class="col-4 text-center">
      <strong>Current Score:      </strong>    
    </div>
    <div class="col-4 text-center">
      <strong>Health Points</strong>(Boss):
    </div>
  </div>
<div class="row" id="arena">
  <div class="col-md-12">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-outline-danger btn-sm">Attack</button>
      <button type="button" class="btn btn-outline-success btn-sm">Defend</button>
      <button type="button" class="btn btn-outline-info btn-sm">Special</button>
    </div>
  </div>
</div>
    
>>>>>>> Stashed changes

<script src="/js/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" crossorigin="anonymous"></script>

